<%= form_with model: @diagnosis_item do |form| %>
  <section>
    Patient
    <%= form.collection_select :patient_id, @patients, :id, :first_name %>
  </section>
  <section>
    Physician
    <%= form.collection_select :physician_id, @physicians, :id, :first_name %>
  </section>
  <section class = "mb-3">
    Description
    <%= form.text_field(:content, class: 'form-control') %>
  </section>
  <%= form.submit(class: 'btn btn-success') %>
<% end %>
