<%= simple_form_for @patient do |form| %>
  <section>
    <%= form.input :first_name, placeholder: 'Your first name', input_html: {class: 'w-50'} %>
  </section>
  <section>
    <%= form.input :last_name, placeholder: 'Your last name', input_html: {class: 'w-50'} %>
  </section>
  <section>
    <%= form.input :age, input_html: {class: 'w-50'} %>
  </section>
  <section>
    <%= form.input :email, placeholder: 'example@test.com', input_html: {class: 'w-50'} %>
  </section>
  <%= form.button :submit, class: 'btn btn-success mt-3' %>
<% end %>
