<div class = "card-group">
  <% @patients.each do |patient| %>
    <div class = "card">
      <div class = "card-body">
        <%= render "card", patient: patient %>
      </div>
      <% if can? :read, DiagnosisItem %>
        <div class = "card-footer">
          <br>
            <button class = "btn btn-outline-primary show" id = "<%= patient.id %>" type = "button" data-bs-toggle = "collapse" data-bs-target = "#id<%= patient.id %>" aria-expanded = "false" aria-controls = "id<%= patient.id %>">
              Show diagnosis items
            </button>
            <div class = "collapse load" id = "id<%= patient.id %>">
              <div class = "card card-body", id = "show-items">
              </div>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% if can? :create, @patient %>
  <%= link_to "Create new patient", new_patient_path(@patient), class: 'btn btn-success mt-4' %>
<% end %>
