<%= simple_form_for @physician do |form| %>
  <section>
    <%= form.input :first_name, placeholder: 'Your first name', input_html: {class: 'w-50'} %>
  </section>
  <section>
    <%= form.input :last_name, placeholder: 'Your last name', input_html: {class: 'w-50'} %>
  </section>
  <section>
    <%= form.input :level, collection: Physician::LEVEL, include_blank: false, input_html: {class: 'w-50'} %>
  </section>
  <section>
    <%= form.input :phone, placeholder: '+380XXXXXXXXX', input_html: {class: 'w-50'} %>
  </section>
  <%= form.button :submit, class: 'btn btn-success mt-3' %>
<% end %>
