<%= form_with model: @appointment do |form| %>
    <p>
        Пациент<br>
        <%= form.number_field( :patient_id, class: 'form-control' ) %>
    </p>
    <p>
        Номер врача<br>
        <%= form.number_field( :physician_id, class: 'form-control' ) %>
    </p>
    <p>
        Дата<br>
        <%= form.datetime_field( :appointment_date, class: 'form-control' ) %>
    </p>
    <%= form.submit( class: 'btn btn-success' ) %>
<% end %>
